/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'font';
  src: url("../font/Regular.eot");
  src: url("../font/Regular.eot?#iefix") format("embedded-opentype"), url("../font/Regular.woff2") format("woff2"), url("../font/Regular.woff") format("woff"), url("../font/Regular.svg#o Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-04D9;
}
/* line 31, ../sass/screen.scss */
* {
  font-family: "font", Arial !important;
}

/* line 34, ../sass/screen.scss */
header {
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding: 25px 5px;
}
/* line 41, ../sass/screen.scss */
header .block-logo {
  float: left;
}
/* line 44, ../sass/screen.scss */
header .block-call {
  float: right;
  padding-top: 15px;
}
/* line 47, ../sass/screen.scss */
header .block-call .block-number {
  font-size: 30px;
}
/* line 50, ../sass/screen.scss */
header .block-call .block-callback {
  background-color: #ff8400;
  display: block;
  color: #fff;
  width: 210px;
  height: 40px;
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 7px;
  box-sizing: border-box;
  margin-top: 10px;
}
/* line 61, ../sass/screen.scss */
header .block-call .block-callback:hover {
  cursor: pointer;
  opacity: .8;
}
/* line 67, ../sass/screen.scss */
header .block-contact-inform {
  padding-top: 28px;
  max-width: 245px;
  overflow: hidden;
  display: inline-block;
  font-size: 19px;
}

/* line 75, ../sass/screen.scss */
nav {
  /*overflow: hidden;*/
  clear: both;
  background: #ff8400;
}
/* line 79, ../sass/screen.scss */
nav ul {
  display: table;
  margin: 0 auto;
}
/* line 83, ../sass/screen.scss */
nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 5px;
}
/* line 88, ../sass/screen.scss */
nav ul li:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 22px;
  left: -8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: #fff;
}
/* line 99, ../sass/screen.scss */
nav ul li:first-child:after {
  content: none;
}
/* line 102, ../sass/screen.scss */
nav ul li a {
  display: block;
  color: #fff;
  padding: 15px 15px;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
}
/* line 109, ../sass/screen.scss */
nav ul li a:hover {
  cursor: pointer;
  background: #fff;
  color: #ff8400;
}

/* line 118, ../sass/screen.scss */
.slider-top {
  width: 100%;
  height: 400px;
  border: 1px solid #fff;
  border-width: 1px 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 4px solid #fdc029;
}
/* line 129, ../sass/screen.scss */
.slider-top .slider-wrapper {
  overflow: hidden;
  width: 115%;
}
/* line 133, ../sass/screen.scss */
.slider-top #slider-list {
  position: relative;
  overflow: hidden;
  padding: 0;
  left: -5%;
  transition: 0.8s;
}
/* line 139, ../sass/screen.scss */
.slider-top #slider-list li {
  border-left: 1px solid #fff;
  float: left;
  height: 400px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  overflow: hidden;
  position: relative;
  margin-left: -1%;
}
/* line 150, ../sass/screen.scss */
.slider-top #slider-list li img {
  width: calc(100% + 90%);
  position: relative;
  left: -28%;
  height: 400px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  -ms-transform: skew(20deg);
}

/* line 163, ../sass/screen.scss */
#form1 {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 15px;
  position: absolute;
  bottom: 35px;
  width: 900px;
  left: 50%;
  margin-left: -455px;
  box-sizing: border-box;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
}
/* line 177, ../sass/screen.scss */
#form1 .form-wrapper {
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  -ms-transform: skew(20deg);
}
/* line 183, ../sass/screen.scss */
#form1 .title-form {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}
/* line 188, ../sass/screen.scss */
#form1 .subscribe-form {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 13px;
}
/* line 193, ../sass/screen.scss */
#form1 input {
  width: 200px;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 10px;
  font-size: 18px;
  vertical-align: top;
}
/* line 204, ../sass/screen.scss */
#form1 #send-form {
  text-transform: uppercase;
  font-size: 24px;
  background: #ff8400;
  border: none;
  height: 40px;
  width: 200px;
  cursor: pointer;
}
/* line 212, ../sass/screen.scss */
#form1 #send-form:hover {
  opacity: 0.6;
}

/* line 217, ../sass/screen.scss */
.additional {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 16px;
}
/* line 223, ../sass/screen.scss */
.additional a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

/* line 229, ../sass/screen.scss */
input::-webkit-input-placeholder {
  color: #000;
  text-transform: uppercase;
}

/* line 230, ../sass/screen.scss */
input::-moz-placeholder {
  color: #000;
  text-transform: uppercase;
}

/* line 231, ../sass/screen.scss */
input:-moz-placeholder {
  color: #000;
  text-transform: uppercase;
}

/* line 232, ../sass/screen.scss */
input:-ms-input-placeholder {
  color: #000;
  text-transform: uppercase;
}

/* line 235, ../sass/screen.scss */
.content .block-portf {
  max-width: 1024px;
  margin: 63px auto 0;
}
/* line 239, ../sass/screen.scss */
.content .block-left {
  width: 670px;
  float: left;
}
/* line 242, ../sass/screen.scss */
.content .block-left .wrap-row {
  clear: both;
  margin-bottom: 40px;
  overflow: hidden;
}
/* line 247, ../sass/screen.scss */
.content .block-left .title {
  text-transform: uppercase;
  font-size: 30px;
  padding-bottom: 20px;
  overflow: hidden;
}
/* line 253, ../sass/screen.scss */
.content .block-left .text {
  font-size: 18px;
}
/* line 256, ../sass/screen.scss */
.content .block-left .button {
  overflow: hidden;
  padding-top: 25px;
}
/* line 259, ../sass/screen.scss */
.content .block-left .button a {
  display: block;
  padding: 7px 10px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: #ff8400;
  text-decoration: none;
  width: 195px;
  box-sizing: border-box;
  font-size: 24px;
}
/* line 270, ../sass/screen.scss */
.content .block-left .button a:hover {
  background: #ff4e00;
}
/* line 275, ../sass/screen.scss */
.content .block-left .img {
  margin-right: 15px;
  float: left;
}
/* line 278, ../sass/screen.scss */
.content .block-left .img div {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px -14px black;
  -moz-box-shadow: 0px 0px 20px -14px black;
  box-shadow: 0px 0px 20px -14px black;
}
/* line 284, ../sass/screen.scss */
.content .block-left .img div img {
  border: 4px solid #fff;
  border-radius: 50%;
}
/* line 292, ../sass/screen.scss */
.content .block-right {
  width: 354px;
  overflow: hidden;
  float: right;
}
/* line 296, ../sass/screen.scss */
.content .block-right #prod-slider-list, .content .block-right #list-l-dev {
  position: relative;
  transition: 0.9s;
}
/* line 300, ../sass/screen.scss */
.content .block-right .title {
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 25px;
  text-align: center;
}
/* line 306, ../sass/screen.scss */
.content .block-right .slider {
  display: table;
  margin: 0 auto;
}
/* line 310, ../sass/screen.scss */
.content .block-right .arrow-l {
  width: 0;
  height: 0;
  margin: 0 auto 25px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #ff8400;
}
/* line 317, ../sass/screen.scss */
.content .block-right .arrow-l:hover {
  opacity: 0.4;
  cursor: pointer;
}
/* line 322, ../sass/screen.scss */
.content .block-right li {
  height: 263px;
}
/* line 325, ../sass/screen.scss */
.content .block-right .arrow-r {
  width: 0;
  height: 0;
  margin: 25px auto 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #ff8400;
}
/* line 332, ../sass/screen.scss */
.content .block-right .arrow-r:hover {
  opacity: 0.4;
  cursor: pointer;
}
/* line 337, ../sass/screen.scss */
.content .block-right .slider-wrapper {
  height: 263px;
  overflow: hidden;
}
/* line 341, ../sass/screen.scss */
.content .block-right img {
  width: 263px;
  height: 263px;
  border-radius: 50%;
  /*box-sizing: border-box;
  border:8px silid #fff;
  -webkit-box-shadow: 0px 0px 20px -14px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 20px -14px rgba(0, 0, 0, 1);
  box-shadow:0px 0px 20px -14px rgba(0, 0, 0, 1);*/
}
/* line 351, ../sass/screen.scss */
.content .block-right .block-right-bottom {
  margin-top: 35px;
}

/* line 358, ../sass/screen.scss */
.block-garanty {
  clear: both;
}

/* line 363, ../sass/screen.scss */
div.tabs button {
  text-transform: uppercase;
  display: inline-block;
  font-size: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 3px;
  transition: 0.3s;
  background: none;
  width: 235px;
  position: relative;
}
/* line 375, ../sass/screen.scss */
div.tabs button:hover {
  font-weight: 700;
}
/* line 380, ../sass/screen.scss */
div.tabs button.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #fdc029;
  position: absolute;
  bottom: -54px;
  left: 50%;
  margin-left: -15px;
}
/* line 394, ../sass/screen.scss */
div.tabs .long {
  width: 308px;
}

/* line 398, ../sass/screen.scss */
#carCopm {
  display: block;
}

/* line 402, ../sass/screen.scss */
div.tabs button.active {
  font-weight: 700;
}

/* line 405, ../sass/screen.scss */
.tabcontent {
  display: none;
  transition: 0.5s;
  padding: 6px 12px;
}

/* line 411, ../sass/screen.scss */
.ourclients .row {
  display: table;
  margin: 0 auto 30px;
}
/* line 415, ../sass/screen.scss */
.ourclients .row img {
  max-width: 325px;
  max-height: 150px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 45px;
}
/* line 423, ../sass/screen.scss */
.ourclients .row img:nth-child(3n+3) {
  padding-right: 0;
}
/* line 427, ../sass/screen.scss */
.ourclients .wrapperClients {
  background: #fdc029;
  padding: 25px 0;
}
/* line 430, ../sass/screen.scss */
.ourclients .wrapperClients .block-client {
  margin: 0 auto;
  max-width: 1024px;
}
/* line 435, ../sass/screen.scss */
.ourclients .wrappercontent {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
  min-height: 375px;
  box-sizing: border-box;
}
/* line 442, ../sass/screen.scss */
.ourclients .title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
/* line 448, ../sass/screen.scss */
.ourclients .subtitle {
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding: 25px 0;
}

/* line 455, ../sass/screen.scss */
.block-garanty {
  background: #2b2a28;
}
/* line 457, ../sass/screen.scss */
.block-garanty .block-garanty-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  color: #fff;
}
/* line 462, ../sass/screen.scss */
.block-garanty .title-block {
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

/* line 469, ../sass/screen.scss */
.block-garanty {
  overflow: hidden;
  padding-bottom: 50px;
}
/* line 472, ../sass/screen.scss */
.block-garanty .img-row-garant {
  float: left;
}
/* line 476, ../sass/screen.scss */
.block-garanty .img-row-garant img {
  border-radius: 50%;
}
/* line 479, ../sass/screen.scss */
.block-garanty .content-garant {
  overflow: hidden;
}
/* line 482, ../sass/screen.scss */
.block-garanty .content-garant .row {
  clear: both;
  height: 106px;
  display: table;
  margin-bottom: 35px;
}
/* line 488, ../sass/screen.scss */
.block-garanty .content-garant .row:last-child {
  margin-bottom: 0;
}
/* line 491, ../sass/screen.scss */
.block-garanty .content-garant .text-garant {
  overflow: hidden;
  padding-left: 25px;
  display: table-cell;
  vertical-align: middle;
  font-size: 23px;
  font-style: italic;
  padding-right: 5px;
}
/* line 501, ../sass/screen.scss */
.block-garanty .photo-garat {
  float: left;
  margin: 0 70px 0 25px;
  width: 279px;
  height: 405px;
  /*overflow: hidden;*/
}
/* line 507, ../sass/screen.scss */
.block-garanty .photo-garat img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
}
/* line 512, ../sass/screen.scss */
.block-garanty .photo-garat img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

/* line 521, ../sass/screen.scss */
footer {
  background: #000;
  overflow: hidden;
  padding: 35px 0 25px;
}
/* line 525, ../sass/screen.scss */
footer .footer-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  color: #fff;
}
/* line 530, ../sass/screen.scss */
footer .logo-footer {
  float: left;
  margin-right: 55px;
  margin-top: -10px;
}
/* line 535, ../sass/screen.scss */
footer .nav-footer {
  max-width: 390px;
  overflow: hidden;
  float: left;
}
/* line 539, ../sass/screen.scss */
footer .nav-footer ul li {
  display: inline-block;
}
/* line 542, ../sass/screen.scss */
footer .nav-footer ul .row {
  width: calc(100%/2);
  float: left;
  padding-right: 10px;
  box-sizing: border-box;
}
/* line 548, ../sass/screen.scss */
footer .nav-footer ul li a {
  color: #fff;
  display: block;
  margin-bottom: 12px;
}
/* line 552, ../sass/screen.scss */
footer .nav-footer ul li a:hover {
  text-decoration: none;
}
/* line 557, ../sass/screen.scss */
footer .address {
  overflow: hidden;
  max-width: 210px;
  float: left;
  text-align: left;
}
/* line 563, ../sass/screen.scss */
footer .contacts-footer {
  float: right;
  overflow: hidden;
  text-align: right;
}
/* line 569, ../sass/screen.scss */
footer .block-callback-f a {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
/* line 573, ../sass/screen.scss */
footer .block-callback-f a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1020px) and (max-width: 1024px) {
  /* line 581, ../sass/screen.scss */
  header {
    padding: 25px;
  }

  /* line 584, ../sass/screen.scss */
  footer {
    padding: 35px 20px 25px;
  }
}
@media screen and (min-width: 736px) and (max-width: 1020px) {
  /* line 592, ../sass/screen.scss */
  .wrapper header .block-contact-inform {
    display: inline-block;
    padding-top: 5px;
  }
  /* line 597, ../sass/screen.scss */
  .wrapper #form1 #send-form {
    margin-top: 10%;
  }
  /* line 600, ../sass/screen.scss */
  .wrapper .additional {
    bottom: 16%;
  }
  /* line 603, ../sass/screen.scss */
  .wrapper .content .block-left .img {
    display: block;
  }
  /* line 606, ../sass/screen.scss */
  .wrapper form#form1 {
    max-width: 556px;
    left: 50%;
    margin-left: -273px;
  }
}
@media screen and (max-width: 1020px) {
  /* line 615, ../sass/screen.scss */
  header .block-logo img {
    width: 165px;
  }
  /* line 618, ../sass/screen.scss */
  header .block-contact-inform {
    display: none;
  }
  /* line 621, ../sass/screen.scss */
  header .block-call {
    padding-top: 0;
  }
  /* line 623, ../sass/screen.scss */
  header .block-call .block-callback {
    width: 135px;
    font-size: 16px;
    padding-top: 12px;
  }
  /* line 628, ../sass/screen.scss */
  header .block-call .block-number {
    font-size: 23px;
  }

  /* line 633, ../sass/screen.scss */
  #menu {
    width: 35px;
    height: 42px;
    float: right;
    margin: 10px 10px 0;
  }
  /* line 638, ../sass/screen.scss */
  #menu span {
    width: 35px;
    height: 3px;
    background: #fff;
    margin-bottom: 10px;
    display: block;
  }

  /* line 646, ../sass/screen.scss */
  nav {
    overflow: hidden;
  }

  /* line 649, ../sass/screen.scss */
  nav ul li {
    display: none;
  }
  /* line 651, ../sass/screen.scss */
  nav ul li:after {
    content: none;
  }

  /* line 655, ../sass/screen.scss */
  #menu.open + .block-menu {
    transition: 0.5s;
  }
  /* line 657, ../sass/screen.scss */
  #menu.open + .block-menu li {
    display: block;
  }

  /* line 661, ../sass/screen.scss */
  #form1 {
    height: 363px;
    bottom: 0;
    width: 100%;
    left: 0;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 15px;
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
  }
  /* line 674, ../sass/screen.scss */
  #form1 .form-wrapper {
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
  }
  /* line 680, ../sass/screen.scss */
  #form1 .title-form {
    font-size: 24px;
  }
  /* line 683, ../sass/screen.scss */
  #form1 .subscribe-form {
    text-align: center;
  }
  /* line 686, ../sass/screen.scss */
  #form1 input, #form1 #send-form {
    width: 96%;
    margin: 1% 2%;
  }
  /* line 690, ../sass/screen.scss */
  #form1 #send-form {
    margin-top: 13%;
  }

  /* line 694, ../sass/screen.scss */
  .additional {
    color: #000;
    width: 214px;
    left: 50%;
    bottom: 17%;
    margin-left: -112px;
    text-align: center;
    font-size: 16px;
  }
  /* line 702, ../sass/screen.scss */
  .additional a {
    color: #000;
    font-size: 16px;
  }

  /* line 707, ../sass/screen.scss */
  #form1 .subscribe-form {
    text-transform: uppercase;
    font-size: 16px;
    padding: 6px 13px;
  }

  /* line 713, ../sass/screen.scss */
  .content .block-left .img {
    display: none;
  }
  /* line 716, ../sass/screen.scss */
  .content .block-right {
    float: none;
    width: auto;
  }
  /* line 720, ../sass/screen.scss */
  .content .block-right .arrow-l {
    width: 0;
    height: 0;
    margin: 110px 15px 0 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #ff8400;
    border-bottom: 10px solid transparent;
    float: left;
  }
  /* line 729, ../sass/screen.scss */
  .content .block-right .slider-wrapper {
    float: left;
  }
  /* line 732, ../sass/screen.scss */
  .content .block-right .arrow-r {
    width: 0;
    height: 0;
    margin: 110px 0 0 15px;
    border-top: 10px solid transparent;
    border-left: 20px solid #ff8400;
    border-bottom: 10px solid transparent;
    float: left;
  }
  /* line 741, ../sass/screen.scss */
  .content .block-right li {
    height: 225px;
  }
  /* line 744, ../sass/screen.scss */
  .content .block-right img {
    width: 225px;
    height: 225px;
  }
  /* line 748, ../sass/screen.scss */
  .content .block-right .slider-wrapper {
    height: 225px;
  }
  /* line 752, ../sass/screen.scss */
  .content .block-left {
    width: auto;
    box-sizing: border-box;
    padding: 25px 5px;
  }
  /* line 757, ../sass/screen.scss */
  .content .photo-garat {
    float: none;
    display: table;
    margin: 15px auto 35px;
  }
  /* line 762, ../sass/screen.scss */
  .content .block-garanty .content-garant .row {
    margin: 0 auto 45px;
  }
  /* line 765, ../sass/screen.scss */
  .content .img-row-garant {
    float: none;
    text-align: center;
  }
  /* line 769, ../sass/screen.scss */
  .content .content-garant .text-garant {
    display: block;
    margin: 25px 0;
    font-size: 26px;
    padding: 0 25px;
    text-align: center;
    box-sizing: border-box;
  }
  /* line 777, ../sass/screen.scss */
  .content div.tabs button {
    display: block;
    font-weight: 700;
    border-top: 1px solid #000;
    transition: 0.3s;
    padding-left: 10px;
    padding-right: 50px;
    width: 100%;
    text-align: left;
  }
  /* line 787, ../sass/screen.scss */
  .content .ourclients .row img {
    max-width: 100%;
    display: table;
    padding-right: 0;
    margin: 25px auto 25px;
  }
  /* line 793, ../sass/screen.scss */
  .content .tabcontent {
    background: #fff;
  }
  /* line 796, ../sass/screen.scss */
  .content .ourclients .row {
    margin: 0 auto;
  }
  /* line 799, ../sass/screen.scss */
  .content #carCopm {
    display: none;
  }
  /* line 802, ../sass/screen.scss */
  .content .wrappercontent {
    min-height: 0px;
    padding: 0;
  }

  /* line 807, ../sass/screen.scss */
  .ourclients .wrapperClients {
    padding-bottom: 0;
  }

  /* line 810, ../sass/screen.scss */
  div.tabs button.tablinks:after {
    content: url("../images/arrowf.png");
    border: none;
    left: inherit;
    bottom: inherit;
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -10px;
    margin-left: 0;
  }

  /* line 821, ../sass/screen.scss */
  div.tabs button.tablinks.active:after {
    content: url("../images/arrowt.png");
    border: none;
    left: inherit;
    bottom: inherit;
    right: 32px;
    top: 50%;
    margin-top: -10px;
    margin-left: 0;
  }

  /* line 831, ../sass/screen.scss */
  footer {
    padding-top: 15px;
  }
  /* line 835, ../sass/screen.scss */
  footer .logo-footer {
    display: none;
  }
  /* line 838, ../sass/screen.scss */
  footer .nav-footer {
    float: none;
    margin: 0 auto;
  }
  /* line 842, ../sass/screen.scss */
  footer .nav-footer ul .row {
    display: block;
    float: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  /* line 850, ../sass/screen.scss */
  footer .contacts-footer {
    float: none;
    text-align: center;
    display: block;
    margin-top: 15px;
  }
  /* line 856, ../sass/screen.scss */
  footer .address {
    float: none;
    display: block;
    text-align: center;
    margin: 15px auto 0;
  }
}
